@import url('line-awesome/dist/line-awesome/css/line-awesome.min.css');

/* Make the layout responsive and usable on both mobile and desktop.
 * The CSS media query hides the grid and the toolbar when you are editing contacts on a narrow screen.
 */
@media all and (max-width: 1100px) {
    .list-view.editing .toolbar,
    .list-view.editing .contact-grid {
        display: none;
    }
}

a[highlight] {
    font-weight: bold;
    text-decoration: underline;
}
